*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0A192F;
    color:white;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#112240;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00BFFF;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* Hero */

/* HERO SECTION */

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:50px 20px;

    background:
    linear-gradient(
    rgba(10,25,47,0.92),
    rgba(10,25,47,0.92)
    ),
    url("https://images.unsplash.com/photo-1517048676732-d65bc937f952");

    background-size:cover;
    background-position:center;
}

.hero-content{
    max-width:900px;
}

.badge{
    display:inline-block;
    padding:10px 20px;
    background:#112240;
    border:1px solid #00BFFF;
    border-radius:50px;
    color:#00BFFF;
    font-weight:bold;
    margin-bottom:25px;
}

.hero h1{
    font-size:65px;
    line-height:1.2;
    margin-bottom:25px;
}

.hero p{
    font-size:22px;
    line-height:1.8;
    color:#d6d6d6;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    padding:15px 35px;
    background:#00BFFF;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.btn:hover{
    transform:translateY(-3px);
}

.btn-outline{
    padding:15px 35px;
    border:2px solid #00BFFF;
    color:#00BFFF;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.btn-outline:hover{
    background:#00BFFF;
    color:white;
}
@media(max-width:768px){

    .hero h1{
        font-size:38px;
    }

    .hero p{
        font-size:18px;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

}
/* SAFETY SECTION */

.safety-section{
    padding:80px 8%;
    text-align:center;
}

.safety-section h2{
    font-size:42px;
    color:#00BFFF;
    margin-bottom:15px;
}

.section-subtitle{
    color:#cccccc;
    margin-bottom:50px;
    font-size:18px;
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:#112240;
    padding:30px;
    border-radius:15px;
    transition:0.3s;
    border:1px solid rgba(255,255,255,0.08);
}

.card:hover{
    transform:translateY(-10px);
    border-color:#00BFFF;
    box-shadow:0 10px 30px rgba(0,191,255,0.25);
}

.card h3{
    font-size:24px;
    margin-bottom:15px;
    color:#00BFFF;
}

.card p{
    color:#d6d6d6;
    line-height:1.7;
}
